<!DOCTYPE html>
<html lang="ko">
  <body>
    <section class="bg-black-100 w-full h-[40vh] sm:h-[90vh] md:h-[60vh]">
      <div
        class="w-[90%] h-full py-10 flex md:flex-col sm:flex-col sm:gap-10 items-start justify-between m-auto text-white text-xs"
      >
        <div class="flex flex-col gap-10 md:gap-5 sm:gap-5 items-start">
          <p class="bg-mm-logo bg-no-repeat bg-cover w-28 h-12"></p>
          <p>Copyright &copy; 주식회사 엘씨엠코스메틱.All rights reserved.</p>
          <select name="" id="" class="bg-black-100 border border-white p-4">
            <option value="about">About</option>
            <option value="privacy-policy">개인정보처리방침</option>
            <option value="agreement">이용약관</option>
            <option value="guide">이용안내</option>
          </select>
        </div>
        <div class="flex flex-col gap-10 sm:gap-5 items-start">
          <h3>Customer center</h3>
          <div class="space-y-2">
            <p>070 7714 5156</p>
            <p>muzigae-mansion@icmcosmetic.com</p>
            <p>MON - FRI : 9am-5pm</p>
          </div>
          <div class="space-y-2">
            <p>기업은행 : 064-150459-01-010</p>
            <p>예금주 : 엘씨엠코스메틱</p>
          </div>
        </div>
        <div class="flex flex-col gap-10 sm:gap-5 items-start">
          <h3>Company info</h3>
          <div class="space-y-2">
            <p>상호명 : 주식회사 엘씨엠코스메틱</p>
            <p>대표 : 이승후</p>
            <p>
              주소 : 서울특별시 용산구 한강대로 69 (한강로2가) 용산푸르지오써밋
              업무동 602호
            </p>
            <p>사업자 등록번호 : 304-88-0089</p>
            <p>통신판매신고번호 : 제 2023-서울용산-1831호</p>
          </div>
        </div>
        <div class="flex flex-col gap-10 sm:gap-5 items-start">
          <h3>Follow us</h3>
          <div
            class="space-y-2 md:flex md:items-center md:space-x-2 md:space-y-0 sm:flex sm:items-center sm:space-x-2 sm:space-y-0"
          >
            <p>Instagram</p>
            <p>Youtube</p>
            <p>Smartstore</p>
            <p>Facebook</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
