<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/normalize.css" />
  </head>
  <body>
    <header
      class="bg-blue-100 fixed top-0 w-full h-16 flex items-center justify-ebetween"
    >
      <nav class="flex-1 text-sm">
        <ul class="flex items-center justify-center gap-2">
          <li>BRAND</li>
          <li>COLLECTION</li>
          <li>SHOP</li>
          <li>MEMBERSHIP</li>
          <li>COMMUNITY</li>
        </ul>
      </nav>
      <div class="flex-1 text-center">로고</div>
      <div class="flex flex-1 items-center justify-center gap-2">
        <ul class="flex items-center justify-center gap-2">
          <li>Login</li>
          <li>Join</li>
        </ul>
        <ul class="flex items-center justify-center gap-1">
          <li>검색</li>
          <li>찜찜</li>
          <li>카트</li>
        </ul>
      </div>
    </header>
  </body>
</html>
