<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/normalize.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header
      class="fixed top-0 z-40 w-full h-16 flex items-center px-20 sm:px-4 md:px-4 text-sm"
    >
      <button type="button" class="flex flex-1 justify-start lg:hidden">
        <span class="material-symbols-outlined"> menu </span>
      </button>
      <nav class="flex flex-1 justify-start gap-2 sm:hidden md:hidden">
        <a href="">BRAND</a>
        <a href="">COLLECTION</a>
        <a href="">SHOP</a>
        <a href="">MEMBERSHIP</a>
        <a href="">COMMUNITY</a>
      </nav>
      <div class="flex flex-1 justify-center">
        <p
          class="logo bg-mm-logo sm:bg-mm-logo-black md:bg-mm-logo-black bg-contain bg-no-repeat w-28 h-12"
        ></p>
      </div>
      <div class="flex flex-1 justify-end items-center gap-4">
        <div class="flex gap-1 sm:hidden md:hidden">
          <a href="">Login</a>
          <span>/</span>
          <a href="">Join</a>
        </div>
        <div class="flex gap-1">
          <button type="button">
            <span class="material-symbols-outlined">search</span>
          </button>
          <button type="button" class="sm:hidden md:hidden">
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button type="button">
            <span class="material-symbols-outlined">shopping_cart</span>
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
